<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        android:minSdkVersion="33" />

    <application
        android:name=".LexiReadApp"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        tools:replace="android:allowBackup,android:appComponentFactory"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_lexiread_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_lexiread_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.LexiRead"
        tools:targetApi="34">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LexiRead.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Accept PDF files -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>

            <!-- Accept EPUB files -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/epub+zip" />
            </intent-filter>
        </activity>

        <!-- Fix Android 12+ exported for FolioReader -->
        <activity
            android:name="com.folioreader.ui.activity.SearchActivity"
            android:exported="false"
            tools:node="merge" />
        <activity
            android:name="com.folioreader.ui.activity.ContentHighlightActivity"
            android:exported="false"
            tools:node="merge" />
        <activity
            android:name="com.folioreader.ui.activity.FolioActivity"
            android:exported="true"
            tools:node="merge" />
    </application>
</manifest>
